:root {
    --accent-red: rgba(218, 42, 106, 1);
    --colorpreludebasic: rgba(210, 125, 59, 1);
    --coloraccent-yellow: rgba(218, 200, 42, 1);
    --colorpreludelight: rgba(255, 140, 50, 1);
    --coloraccent-blue: rgba(63, 176, 207, 1);
    --colorwh: rgba(255, 255, 255, 1);
    --colorbk: rgba(51, 51, 51, 1);
    --colordark-gray: rgba(153, 153, 153, 1);
    --colorgray: rgba(204, 204, 204, 1);
    --colorlight-gray: rgba(238, 238, 238, 1);
    --colorultra-light-gray: rgba(249, 249, 249, 1);
    --text-noto-sans-JP-size16-150-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size16-150-font-weight: 400;
    --text-noto-sans-JP-size16-150-font-size: 16px;
    --text-noto-sans-JP-size16-150-letter-spacing: 1.6px;
    --text-noto-sans-JP-size16-150-line-height: 150%;
    --text-noto-sans-JP-size16-150-font-style: normal;
    --text-noto-sans-JP-size14-100-bold-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size14-100-bold-font-weight: 700;
    --text-noto-sans-JP-size14-100-bold-font-size: 14px;
    --text-noto-sans-JP-size14-100-bold-letter-spacing: 1.4px;
    --text-noto-sans-JP-size14-100-bold-line-height: 100%;
    --text-noto-sans-JP-size14-100-bold-font-style: normal;
    --text-noto-sans-JP-size24-100-bold-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size24-100-bold-font-weight: 700;
    --text-noto-sans-JP-size24-100-bold-font-size: 24px;
    --text-noto-sans-JP-size24-100-bold-letter-spacing: 2.4px;
    --text-noto-sans-JP-size24-100-bold-line-height: 100%;
    --text-noto-sans-JP-size24-100-bold-font-style: normal;
    --text-noto-sans-JP-size18-100-bold-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size18-100-bold-font-weight: 700;
    --text-noto-sans-JP-size18-100-bold-font-size: 18px;
    --text-noto-sans-JP-size18-100-bold-letter-spacing: 1.8px;
    --text-noto-sans-JP-size18-100-bold-line-height: 100%;
    --text-noto-sans-JP-size18-100-bold-font-style: normal;
    --text-noto-sans-JP-size16-150-bold-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size16-150-bold-font-weight: 700;
    --text-noto-sans-JP-size16-150-bold-font-size: 16px;
    --text-noto-sans-JP-size16-150-bold-letter-spacing: 1.6px;
    --text-noto-sans-JP-size16-150-bold-line-height: 150%;
    --text-noto-sans-JP-size16-150-bold-font-style: normal;
    --text-noto-sans-JP-size12-100-bold-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size12-100-bold-font-weight: 700;
    --text-noto-sans-JP-size12-100-bold-font-size: 12px;
    --text-noto-sans-JP-size12-100-bold-letter-spacing: 1.2px;
    --text-noto-sans-JP-size12-100-bold-line-height: 100%;
    --text-noto-sans-JP-size12-100-bold-font-style: normal;
    --text-noto-sans-JP-size12-100-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size12-100-font-weight: 400;
    --text-noto-sans-JP-size12-100-font-size: 12px;
    --text-noto-sans-JP-size12-100-letter-spacing: 1.2px;
    --text-noto-sans-JP-size12-100-line-height: 100%;
    --text-noto-sans-JP-size12-100-font-style: normal;
    --text-noto-sans-JP-size48-130-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size48-130-font-weight: 400;
    --text-noto-sans-JP-size48-130-font-size: 48px;
    --text-noto-sans-JP-size48-130-letter-spacing: 4.8px;
    --text-noto-sans-JP-size48-130-line-height: 129.99999523162842%;
    --text-noto-sans-JP-size48-130-font-style: normal;
    --text-noto-sans-JP-size18-100-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size18-100-font-weight: 400;
    --text-noto-sans-JP-size18-100-font-size: 18px;
    --text-noto-sans-JP-size18-100-letter-spacing: 1.8px;
    --text-noto-sans-JP-size18-100-line-height: 100%;
    --text-noto-sans-JP-size18-100-font-style: normal;
    --text-noto-sans-JP-size16-100-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size16-100-font-weight: 400;
    --text-noto-sans-JP-size16-100-font-size: 16px;
    --text-noto-sans-JP-size16-100-letter-spacing: 1.6px;
    --text-noto-sans-JP-size16-100-line-height: 100%;
    --text-noto-sans-JP-size16-100-font-style: normal;
    --text-noto-sans-JP-size14-150-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size14-150-font-weight: 400;
    --text-noto-sans-JP-size14-150-font-size: 14px;
    --text-noto-sans-JP-size14-150-letter-spacing: 1.4px;
    --text-noto-sans-JP-size14-150-line-height: 150%;
    --text-noto-sans-JP-size14-150-font-style: normal;
    --text-noto-sans-JP-size14-150-link-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size14-150-link-font-weight: 400;
    --text-noto-sans-JP-size14-150-link-font-size: 14px;
    --text-noto-sans-JP-size14-150-link-letter-spacing: 1.4px;
    --text-noto-sans-JP-size14-150-link-line-height: 150%;
    --text-noto-sans-JP-size14-150-link-font-style: normal;
    --text-noto-sans-JP-size14-150-bold-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size14-150-bold-font-weight: 700;
    --text-noto-sans-JP-size14-150-bold-font-size: 14px;
    --text-noto-sans-JP-size14-150-bold-letter-spacing: 1.4px;
    --text-noto-sans-JP-size14-150-bold-line-height: 150%;
    --text-noto-sans-JP-size14-150-bold-font-style: normal;
    --text-noto-sans-JP-size18-150-bold-font-family: "Noto Sans JP", Helvetica;
    --text-noto-sans-JP-size18-150-bold-font-weight: 700;
    --text-noto-sans-JP-size18-150-bold-font-size: 18px;
    --text-noto-sans-JP-size18-150-bold-letter-spacing: 1.8px;
    --text-noto-sans-JP-size18-150-bold-line-height: 150%;
    --text-noto-sans-JP-size18-150-bold-font-style: normal;
    --box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25), 0px 8px 0px 0px
        rgba(255, 140, 50, 1);
    --upper: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
